.design {
    background-color: #e6563b;
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px 10px;
    align-content: center;

}
.develop {
    background-color:#eb9d3a;
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 10px;
}
.support {
    background-color: #7cb06c;
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 10px;
}
.host {
    background-color: #00aba9;
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 10px;
}