.circ {
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    margin: 10px;
    padding-top: 20px;

}

.design {
    background-color: #e6563b;
    color: white;
}
.develop {
    background-color:#eb9d3a;
    color: white;
}
.support {
    background-color: #7cb06c;
    color: white;
}
.host {
    background-color: #00aba9;
    color: white;
}
.badge-1 {
    background-color: #e6563b;
    color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 1px;
    align-content: center;
}
.badge-2 {
    background-color:#eb9d3a;
    color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 1px;
    align-content: center;
}

.badge-3 {
    background-color: #7cb06c;
    color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 1px;
    align-content: center;
}

.badge-4 {
    background-color: #00aba9;
    color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 1px;
    align-content: center;
    justify-content: center;
}

.img-fluid {
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 10px
}