.design {
    background-color: #e6563b;
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px 10px;
    padding: 20px 0;
    color: white;
    text-align: center;
    font-size: 15px;
}
.develop {
    background-color:#eb9d3a;
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px 10px;
    padding: 20px 0;
    color: white;
    text-align: center;
    font-size: 15px;
}
.support {
    background-color: #7cb06c;
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px 10px;
    padding: 20px 0;
    color: white;
    text-align: center;
    font-size: 15px;
}
.host {
    background-color: #00aba9;
    width: 80px;
    height: 80px;
    border: 5px solid white;
    border-radius: 50%;
    margin: 10px 10px;
<<<<<<< HEAD
    padding: 20px 0;
    color: white;
    text-align: center;
    font-size: 15px;
=======
}

.badge-1 {
    background-color: #e6563b;
    color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 1px;
    align-content: center;

}

.badge-2 {
    background-color:#eb9d3a;
    color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 1px;
    align-content: center;
}

.badge-3 {
    background-color: #7cb06c;
    color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 1px;
    align-content: center;
}

.badge-4 {
    background-color: #00aba9;
    color: black;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 1px;
    align-content: center;
    justify-content: center;
}

.image {
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 15px
>>>>>>> baeaaa2f3d028bb17966a423fc26d0cadff281a0
}